.ProductCard{
width: 230px;
height: 330px;
margin: 0;
margin-right: 35px;
background-color: white;
border-radius: 10px;
}
.img-con{
    position: relative;
    width: 100%;

}
.img-con img{
    width: 100%;
    height: 100%;
    position: relative;
}

.ProductCard h5 {
    margin: 0;
    padding: 10px 15px;
    color: rgb(101, 101, 233);
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
.ProductCard p {
    margin: 0;
    padding: 5px 15px;
    margin-bottom: 14px;
    letter-spacing: 0.1em;
    font-weight: bold;
}
