.PriceTag{
    padding: 6px 12px;
    background-color: white;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    width: fit-content;
    position: absolute;
    bottom: 0;
    right: 10px;
}
.PriceTag img {
    width: 15px;
    height: 15px;
    padding-right: 0;
}