.TopTitleBar{
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
}
@media screen and (max-width: 780px){
    .TopTitleBar{
        margin-top: 50px;
        padding: 5px;
    }
}